{% if games_list %}

     <div class="list-group bg-info" >
         {% for game in games_list %}
             <a class="list-group-item list-group-item-info" href="{{ game.get_absolute_url }}">
                 {{ game }}
                 {% if game.status not in 'FS' %}
                    {% if game.status is 'D' %}
                         -- Draw
                    {% elif game.status is 'W' and user is game.first_player %}
                         -- You won!   
                    {% elif game.status is 'L' and user is game.second_player %}
                          -- You won!
                     {% else %}
                          -- You lost     
                     {% endif %}       
                 {% endif %}        
                 <span class="badge">{{game.move_set.count }}</span>
             </a>
        {% endfor %}
    </div>        
    
{% endif %}    

